.arrow {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor: pointer;
  background: white;
  transition: background 2s;
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 10px;
}

.arrow:active {
  background: yellow;
  transition: background 0s;
}

.pagination {
  margin-left: 50%;
}
