.followers {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

.emptyList {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  color: #808080;
  margin-top: 20px;
  margin-left: 280px;
}

.iconNoRepos {
  height: 62px;
  width: 76px;
  margin-top: 150px;
  margin-left: 350px;
}